@charset "utf-8";

/*リセットCSS
----------------------------------------------------------------*/

/* 要素 フォントサイズ・マージン・パディングをリセット */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font-weight: normal;
    vertical-align:baseline;
    background:transparent;
}

/* 行の高=フォントサイズ */
body {
    line-height:1;
}

/* 新規追加要素をブロック要素化 */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

/* ulのマーカー非表示 */
ol, ul {
    list-style: none;
}

/* 引用符の非表示 */
blockquote, q {
    quotes:none;
}

/* blockquote要素、q要素の前後にコンテンツ非表示 */
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

/* フォントサイズ　リセット フォントの縦方向 ベースライン揃え 点線削除 */
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    outline: none;
}

/* ins要素 デフォルトセット 色を変える場合はここで変更 */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* mark要素 デフォルトセット 色やフォントスタイルを変える場合はここで変更 */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

/* テキスト 打ち消し線 */
del {
    text-decoration: line-through;
}

/* IE　デフォルトで点線を下線表示設定　下線設定 マウスオーバー時 ヘルプカーソル表示可 */
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

/*　隣接するセルのボーダーを重ねて表示　*/
table {
    border-collapse:collapse;
    border-spacing:0;
}

/* 水平罫線デフォルトリセット */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

/* 縦方向の揃え 中央揃え */
input, select {
    vertical-align:middle;
}

/* 画像を縦に並べた時に余白0 */
img {
    vertical-align: top;
    font-size: 0;
    line-height: 0;
}

/*box-sizingを全ブラウザに対応*/
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
	overflow: hidden;
	visibility: hidden;
	height: 0;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
}

br {
	line-height: inherit;
}

/*【共通】パーツ
----------------------------------------------------------------*/
/* リンク */
a,
a * {
	-webkit-transition: opacity 0.6s ease;
	-moz-transition: opacity 0.6s ease;
	-o-transition: opacity 0.6s ease;
	transition: opacity  0.6s ease;
	text-decoration: none;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	font-family: inherit;
	-webkit-backface-visibility: hidden; /* 追加 */
	backface-visibility: hidden; /* 追加 */
}
a:hover, a:active {
	text-decoration:none;
	opacity: 0.5;
	filter: alpha(opacity=70);
}
img {
	max-width: 100%;
	height: auto;
}

/* 表示切り替え */
#wrapper .sp-display {
	display: none;
}
#wrapper .tb-display {
	display: none;
}
@media screen and (max-width: 1023px) {
#wrapper .tb-display {
	display: block;
}
}
@media screen and (max-width: 767px) {
#wrapper .sp-display {
	display: block;
}
}

/* 配置 */
#wrapper .f_left {
	float: left;
	text-align: center;
	line-height: 2;
}
#wrapper .f_right {
	float: right;
	text-align: center;
	line-height: 2;
}
#wrapper .leftOn {
	text-align: left;
}
#wrapper .rightOn {
	text-align: right;
}
#wrapper .centerOn {
	text-align: center;
}

/*基本設定
----------------------------------------------------------------*/

/*  配置  */
.flex-nml {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	flex-wrap:wrap;
}
.flex-btw {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	flex-wrap:wrap;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
}
.flex-cnt {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	flex-wrap:wrap;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
}
.flex-end {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	flex-wrap:wrap;
	-webkit-box-pack:end;
	-ms-flex-pack:end;
	justify-content:flex-end;
}
.row-reverse {
	-webkit-flex-direction: row-reverse;
	flex-direction: row-reverse;
}
.items-center {
	-webkit-align-items: center;
	align-items: center;
}
.items-start {
	-webkit-align-items: flex-start;
	align-items: flex-start;
}
.items-end {
	-webkit-align-items: flex-end;
	align-items: flex-end;
}